<a href="https://colab.research.google.com/github/pujitha9908/python_programs/blob/main/python_programs_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#casting
x=float(3)
y=int(4)
z=int(4.0)
print(x)
print(y)
print(z)

3.0
4
4

In [ ]:
#get the type
x=5.09657
p="krishna"
print(x)
print(p)
print(type(x))
print(type(p))

5.09657
krishna
<class 'float'>
<class 'str'>

In [ ]:
#strings double quotes and singe quotes
x="pujitha"
p='pujitha'
print(x)
print(p)

pujitha
pujitha

In [ ]:
#case sensitive
a=4
A="pujitha"
print(a)
print(A)

4
pujitha

In [ ]:
#data types
"""
type : none
"""
x=None
print(type(x))
if x:
  print("none is true")
elif x is False:
      print("not none")
else:
    print("pujitha,not none")

<class 'NoneType'>
pujitha,not none

In [ ]:
a="5.5"
print(a.isdecimal())

False

In [ ]:
#type:str
x="pujitha"
print(type(x))
print(x)
x="pujitha"
p='pujitha'
print(x)
print(p)
print(type(x))
print(type(y))

<class 'str'>
pujitha
pujitha
pujitha
<class 'str'>
<class 'int'>

In [ ]:
#type:int,complex float
x=4
y=0.9
z=x+y
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'float'>



```
# This is formatted as code
```

In [ ]:
#list methods
p=["pujitha","krishna" ,8,"nandhini",9.0,"vasu","chinni","balu"]
print(p)
#get the type
print(type(p))
#lenth of the list
print(len(p))
print(p[0])
print(p[1])
print(p[2])
print(p[3])
print(p[4])
print(p[5])
print(p[6])
print(p[7])
print(p[-1])
print(p[-2])
#slicing the list
print(p[1:9])
#range of the index in python
print(p[2:9])
#iterate through the list
for x in p:
  print(x)
  #repate the list 4 times
  p = ["pujitha", "krishna", 8, "nandhini", 9.0, "vasu", "chinni", "balu"]
print(p * 4)

['pujitha', 'krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu']
<class 'list'>
8
pujitha
krishna
8
nandhini
9.0
vasu
chinni
balu
balu
chinni
['krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu']
[8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu']
pujitha
krishna
8
nandhini
9.0
vasu
chinni
balu
['pujitha', 'krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu', 'pujitha', 'krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu', 'pujitha', 'krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu', 'pujitha', 'krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu']

In [ ]:
#list remove means removing particular element removing and pop means p.pop(1) removing element returns the pop element
p=["pujitha","krishna",8,"nandhini",9.0,"vasu","chinni","balu"]
print(type(p))
p.remove("pujitha")
print(p)
p.pop(1)
print(p)

<class 'list'>
['krishna', 8, 'nandhini', 9.0, 'vasu', 'chinni', 'balu']
['krishna', 'nandhini', 9.0, 'vasu', 'chinni', 'balu']

In [ ]:
#clear means removing all elements from the list
p=["pujitha","krishna",8,"nandhini",9.0]
p.clear()
print(p)

[]

In [ ]:
#count means how many elements in the list
#slicing print(p[2:6])


my_list=["pujitha","krishna","nandhini"]
count_ones = my_list.count(1)
print(count_ones)

p=["pujitha",'krishna',6,7,7,'krishna']
a=p.count('krishna')
r=p.count(7)
print(r)
print(a)

0
2
2

In [ ]:
#list append means adding in end insert meams adding with index number
p=["pujitha","krishna",8,"nandhini",9.0]
p.insert(3,"trishna")
p.insert(4, "karthik")
print(p)

['pujitha', 'krishna', 8, 'trishna', 'karthik', 'nandhini', 9.0]

In [ ]:
#index means if it returns the element of index
#slicing print(p[2:5])
p = ["pujitha", "krishna","vijaya lakshmi","bhavani" ,"vasu","nandhini"]
index_of_krishna = p.index('vijaya lakshmi')
print("Index of 'krishna':", index_of_krishna)
print(p[2:5])


p=[8,7,5,4,3,2,1]
index_of_5=p.index(5)
print("'index of 5':",index_of_5)
print(p)

Index of 'krishna': 2
['vijaya lakshmi', 'bhavani', 'vasu']
'index of 5': 2
[8, 7, 5, 4, 3, 2, 1]

In [ ]:
#sort means arranging elements in alphabets order
# Convert all items to strings
pujitha=["pujitha",'4',"krishna","keerthi","nandhini","vijayalakshmi"]
pujitha.sort()
print(pujitha)

pujitha = ["pujitha", '8', "krishna", "keerthi", "nandhini", "vijayalakshmi"]
pujitha.sort()
print(pujitha)

['4', 'keerthi', 'krishna', 'nandhini', 'pujitha', 'vijayalakshmi']
['8', 'keerthi', 'krishna', 'nandhini', 'pujitha', 'vijayalakshmi']

In [ ]:
#reverse means sorted elements will be reversed
pujitha=["pujitha",8,"krishna","keerthi","nandhini","vijayalakshmi"]
pujitha.reverse()
print(pujitha)

['vijayalakshmi', 'nandhini', 'keerthi', 'krishna', 8, 'pujitha']

In [ ]:
#copy means list will copy and print the list
p=["pujitha","krishna","nandhini","vijayalakshmi"]
a=p.copy()
print(a)

p = [1, 2, 3, 4]
c = p[:]
print(c)  # Output: [1, 2, 3, 4]

['pujitha', 'krishna', 'nandhini', 'vijayalakshmi']
[1, 2, 3, 4]

In [ ]:
#change the list items and  extend list  and join list
#     0         1          2        3          4            5
p = ["apple", "banana", "cherry","krishna","nandhini","vijayalakshmi"]
p[2:4] = ("papaya","pujitha")
print(p)
#extend list
p.extend(p)
print(p)
#join list
k= ["apple", "banana", "cherry","krishna","nandhini","vijayalakshmi"]
a=p+k
print(a)

['apple', 'banana', 'papaya', 'pujitha', 'nandhini', 'vijayalakshmi']
['apple', 'banana', 'papaya', 'pujitha', 'nandhini', 'vijayalakshmi', 'apple', 'banana', 'papaya', 'pujitha', 'nandhini', 'vijayalakshmi']
['apple', 'banana', 'papaya', 'pujitha', 'nandhini', 'vijayalakshmi', 'apple', 'banana', 'papaya', 'pujitha', 'nandhini', 'vijayalakshmi', 'apple', 'banana', 'cherry', 'krishna', 'nandhini', 'vijayalakshmi']

In [ ]:

#print list 2times
a=[6,8,95,5,2,]
print(a*2)

[6, 8, 95, 5, 2, 6, 8, 95, 5, 2]

In [ ]:
#create a tuple
p=('krishna',)
print(type(p))
print(p)


#create a tiple in a single variable

p=("pujitha",)
print(type(p))
print(p)

#difference bewteen a tuple creating a single vaariable , if there is no comma then it becomes string

p=("pujitha")
print(type(p))
print(p)

<class 'tuple'>
('krishna',)
<class 'tuple'>
('pujitha',)
<class 'str'>
pujitha

In [ ]:
a=('pujitha','krishna','trisha',8,8,9,4)
print(a.count(4))
print(a.index("trisha"))

1
2

In [ ]:
#len() of the tuple
#    1         2        3         4        5          6         7         8        9        10            11            12      13      14
p=("apple", "banana","apple","krishna","pujitha" ,"krishna","pujitha","cherry","krishna","nandhini","vijayalakshmi",'trishani',  6   ,24.098)
print(type(p))
print(len(p))

<class 'tuple'>
14

In [ ]:
#max(),min(),sorted()in tuple
p=(3,875,63,489,545,865,664,6,775,8,5,9,2,1,24.098)
print(max(p))
print(min(p))
print(sorted(p))

p=('3','5','6','7','5',"p","c")
print(max(p))
print(min(p))
print(sorted(p))

875
1
[1, 2, 3, 5, 6, 8, 9, 24.098, 63, 489, 545, 664, 775, 865, 875]
p
3
['3', '5', '5', '6', '7', 'c', 'p']

In [ ]:
#list is converted to tuple
p=["pujitha","krishna","nandhini","vijayalakshmi"]
print(type(p))
k=tuple(p)
print(type(k))
print(k)

<class 'list'>
<class 'tuple'>
('pujitha', 'krishna', 'nandhini', 'vijayalakshmi')

In [ ]:
#sum of the tuple
p=(3,875,63,8,5,5,9,20,24.098)

print(sum(p))
print(all(p))                             # Returns False because of the 0
print(any(p))                             # Returns True because there are non-zero elements
print(sorted(p))                          #[1, 2, 3, 5, 8, 9, 24.098, 63, 875]
print(len(p))
print(max(p))
print(min(p))
print(list(enumerate(p)))                 #[(0, 3), (1, 875), (2, 63), (3, 8), (4, 5), (5, 9), (6, 2), (7, 1), (8, 24.098)]

1012.098
True
True
[3, 5, 5, 8, 9, 20, 24.098, 63, 875]
9
875
3
[(0, 3), (1, 875), (2, 63), (3, 8), (4, 5), (5, 5), (6, 9), (7, 20), (8, 24.098)]

In [ ]:
#creating a set
p={"pujitha"}
print(p)
print(type(p))

p=set(("pujitha","Krishna","trisha","Vijaya Lakshmi"))
print(p)
print(type(p))

{'pujitha'}
<class 'set'>
{'trisha', 'pujitha', 'Vijaya Lakshmi', 'Krishna'}
<class 'set'>

In [ ]:
#add an element to a set
a={1,2,3,4,5,6}
a.add(7)
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:

#update a set
a={'pujitha','krishna',6,9}
p={'vijayalakshmi',4,7,85,'trisha'}
a.update(p)
print(a)

#combining a two sets
a={'pujitha','krishna',6,9}
p={'vijayalakshmi',4,7,85,'trisha'}
p.update(a)
print(p)

{4, 6, 'krishna', 7, 9, 'trisha', 'vijayalakshmi', 85, 'pujitha'}
{4, 6, 7, 'krishna', 9, 'trisha', 'vijayalakshmi', 85, 'pujitha'}

In [ ]:

#len of a string in sets
p =set("pujitha")
print(len(p))

a={"trisha","pujitha","krishna","Vijaya Lakshmi"}
print(len(a))

7
4

In [ ]:
#Remove an specialized element in set
a={9,8,7,6,"krishna",5,4,3}
a.remove('krishna')
print(a)

p={8,2,5,7,6,4,9}
p.remove(5)
print(p)

{3, 4, 5, 6, 7, 8, 9}
{2, 4, 6, 7, 8, 9}

In [ ]:
#Discard the item name it will be removed and remaining be in sorted
a={6,7,8,9,3,2}
a.discard(7)
print(a)

{2, 3, 6, 8, 9}

In [ ]:

#pop means last element will be removed
a={6,7,8,9,3,2}
a.pop()
print(a)

{3, 6, 7, 8, 9}

In [ ]:
#clear means all elements will be removed
k={1,2,3,5,6,7,8,9,0}
k.clear()
print(type(k))
print(k)

<class 'set'>
set()

In [ ]:

#copy means list will copy and print the list
k={1,2,3,5,6,7,8,9,0}
p=k.copy()
print(type(k))
print(p)

<class 'set'>
{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [ ]:

#union means joining the two sets
k={1,2,3,5,6,7,8,9,0}
p={81,33,44,55,}
s=k.union(p)
print(s)

{0, 1, 2, 3, 33, 5, 6, 7, 8, 9, 44, 81, 55}

In [ ]:

Intersection means comman elements in in the  set will be print
k={1,2,3,5,6,7,8,9,0}
p={8,1,3,4,5}
s=k.intersection(p)
print(s)

{8, 1, 3, 5}

In [ ]:

#difference between two sets
k={1,2,3,5,6}
p={1,3,4,5}
s=k.difference(p)
print(s)

{2, 6}

In [ ]:
# Define the set
my_set = {1, 2, 3, 4, 5}

pujitha = my_set

# Convert the set to a list
my_list = list(pujitha)

# Reverse the list using slicing
reversed_list = my_list[::-1]

# Print the reversed list
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
#creating a dictionary
d={1:'pujitha',2:'krishna'}
print(d)

#dictionary using the built-in function dict()
d=dict({1:'pujitha',2:'krishna'})
print(d)

{1: 'pujitha', 2: 'krishna'}
{1: 'pujitha', 2: 'krishna'}

In [ ]:
#Accessing elements
d={1:'vijaya Lakshmi',2:'trisha'}
print(d[2])

#using the get()
d={1:'pujitha',2:'krishna',3:'lakshmi',4:'trisha'
}
print(d.get(3))

trisha
lakshmi

In [ ]:
#change element in the dictionary
d={1:'pujitha',2:'krishna',3:'lakshmi',4:'trisha'
}
d[1]='Nandhini'
d[4]='Nandhu'
print(d)

{1: 'Nandhini', 2: 'krishna', 3: 'lakshmi', 4: 'Nandhu'}

In [ ]:
#add an element in the dictionary
d={1:'pujitha',2:'krishna',3:'lakshmi',4:'trisha'
}
print(d)
d[5]='karthik'
print(d)

{1: 'pujitha', 2: 'krishna', 3: 'lakshmi', 4: 'trisha'}
{1: 'pujitha', 2: 'krishna', 3: 'lakshmi', 4: 'trisha', 5: 'karthik'}

In [ ]:
#deleting an element
d={1:'pujitha',2:'krishna',3:'lakshmi',4:'trisha'
}

print(d.pop(2))
print(d.popitem())

krishna
(4, 'trisha')

In [ ]:
#clear the dictionary
d={1:'pujitha'}
d.clear()
print(d)

{}

In [ ]:
#single quotes inside the double quotes
print("He is called 'johnny'")
print("It's alright")

He is called 'johnny'
It's alright

In [ ]:
#Access  a string to a variable
x,y="pujitha","Trishani"
print(x,y)
print(x)
print(y)

pujitha Trishani
pujitha
Trishani

In [ ]:

#capitalize method
p = "my name is pujitha"
c = p.capitalize()  # Adding parentheses to call the function
print(c)

My name is pujitha

In [ ]:
#casefold method
p = "MY name is PUJITHA"
c = p.casefold()  # Adding parentheses to call the function
print(c)

my name is pujitha

In [ ]:
#center method
p="DEMO"
print(p.center(10,"#"))
print(p.center(20,"$"))
print(p.center(10,"@"))

###DEMO###
$$$$$$$$DEMO$$$$$$$$
@@@DEMO@@@

In [ ]:
#count method
p = "This is pujitha .This is my demo ,pujitha"
print(p.count("This"))
print(p.count("pujitha"))
print(p.count("my"))

2
2
1

In [ ]:
#find method
p = "  This is text.This is pujitha"
print(p.find("this"))
print(p.find("text",3,22))
print(p.find("pujitha",3,10))

-1
10
-1

In [ ]:
#endswith()method
p="Hello python.python is good"
print(p.endswith("good"))
print(p.endswith("python"))

True
False

In [ ]:
#expandtabs() method
p="D\te\tm\to\t"
print(p.expandtabs())
print(p.expandtabs(0))
print(p.expandtabs(1))
print(p.expandtabs(2))
print(p.expandtabs(3))

D       e       m       o
Demo
D e m o
D e m o
D  e  m  o

In [ ]:
#index method
p= "This is first text"
print(p.index('i'))
print(p.index('i',1,13))
print(p.index('f',4,15))

2
2
8

In [ ]:

#isalnum means alphanumeric
d = "Hello123"
g = "Hello 123"
p = ""

print(d.isalnum())  # True, because it contains only letters and numbers
print(g.isalnum())  # False, because it contains a space
print(p.isalnum())  # False, because it is an empty string#

True
False
False

In [ ]:

#isalpha check wether it is alphabetic or
p= "Hello"
s = "Hello123"
t = "Hello!"
r = ""

print(p.isalpha())  # True, because it contains only letters
print(s.isalpha())  # False, because it contains numbers
print(t.isalpha())  # False, because it contains a special character (!)
print(r.isalpha())  # False, because it is an empty string#

True
False
False
False

In [ ]:
#isdecimal method
s = "12345"
t = "123.45"
r= "-1.2"
  # Full-width characters


print(s.isdecimal())  # True, because it contains only decimal digits
print(t.isdecimal())  # False, because it contains a decimal point
print(r.isdecimal())  # False, because it

True
False
False

In [ ]:
#isdigit method
i = "12345"
r = "123.45"
p = "12345a"
t = "²³"  # Superscript digits
s= ""

print(i.isdigit())  # True, because it contains only digit characters
print(r.isdigit())  # False, because it contains a decimal point
print(p.isdigit())  # False, because it contains a letter
print(t.isdigit())  # True, because it contains superscript digits
print(s.isdigit())  # False, because it is an empty string

True
False
False
True
False

In [ ]:
#isidentifier method
s = "variable"
p= "_varia_ble"
t ,h= "2variable","variable45"
r = "variable_name"
i= "var@name"
u = "for"  # Although this is a keyword, `isidentifier()` will return True
print(h.isidentifier())
print(s.isidentifier())  # True, valid identifier
print(p.isidentifier())  # True, valid identifier
print(t.isidentifier())  # False, starts with a digit
print(r.isidentifier())  # True, valid identifier with an underscore
print(i.isidentifier())  # False, contains special character @
print(u.isidentifier())  # True, but it is a keyword

True
True
True
False
True
False
True

In [ ]:
#islower method
p= "Hello"
r = "hello"
t = "hello123"
s = "123"
q = ""

print(p.islower())  # True, all alphabetic characters are lowercase
print(r.islower())  # False, because of the uppercase 'H'
print(t.islower())  # True, all alphabetic characters are lowercase (digits don't affect the result)
print(s.islower())  # False, because there are no alphabetic characters
print(q.islower())  # False, because the string is empty

False
True
True
False
False

In [ ]:
#isnumeric method
string1 = "12345"
string2 = "½"
string3 = "12345a"
string4 = "²³"  # Superscript digits
string5 = "一二三四五"  # Chinese numerals
string6 = ""

print(string1.isnumeric())  # True, because it contains only digits
print(string2.isnumeric())  # True, because it contains a fraction
print(string3.isnumeric())  # False, because it contains a letter
print(string4.isnumeric())  # True, because it contains superscript digits
print(string5.isnumeric())  # True, because it contains numeric characters in another script
print(string6.isnumeric())  # False, because it is an empty string

True
True
False
True
True
False

In [ ]:
#isprintable method
string1 = "Hello, World!"
string2 = "12345"
string3 = "Hello\nWorld"
string4 = "Hello\tWorld"
string5 = ""

print(string1.isprintable())  # True, all characters are printable
print(string2.isprintable())  # True, all characters are digits, which are printable
print(string3.isprintable())  # False, because it contains a newline character \n
print(string4.isprintable())  # False, because it contains a tab character \t
print(string5.isprintable())  # True, an empty string is considered printable

True
True
False
False
True

In [ ]:
#ispace method
string1 = "   "
string2 = "\t\n"
string3 = "Hello World"
string4 = ""
string5 = "   a  "

print(string1.isspace())  # True, all characters are spaces
print(string2.isspace())  # True, all characters are whitespace (tab and newline)
print(string3.isspace())  # False, contains non-whitespace characters
print(string4.isspace())  # False, because it is an empty string
print(string5.isspace())  # False, contains a non-whitespace character ('a')

True
True
False
False
False

In [ ]:
#istitle method
string1 = "Hello World"
string2 = "Hello world"
string3 = "Hello World!"
string4 = "hello World"
string5 = "123 Hello"
string6 = ""

print(string1.istitle())  # True, both words are in title case
print(string2.istitle())  # False, "world" is not capitalized
print(string3.istitle())  # True, both words are in title case, punctuation doesn't affect the result
print(string4.istitle())  # False, "hello" is not capitalized
print(string5.istitle())  # True, "Hello" is in title case (numbers don't affect the result)
print(string6.istitle())  # False, because the string is empty

True
False
True
False
True
False

In [ ]:
#isupper method
string1 = "HELLO"
string2 = "Hello"
string3 = "HELLO123"
string4 = "123"
string5 = ""
string6 = "HELLO!"

print(string1.isupper())  # True, all alphabetic characters are uppercase
print(string2.isupper())  # False, "H" is uppercase but "ello" is not
print(string3.isupper())  # True, all alphabetic characters are uppercase (digits are ignored)
print(string4.isupper())  # False, there are no alphabetic characters
print(string5.isupper())  # False, because the string is empty
print(string6.isupper())  # True, all alphabetic characters are uppercase (punctuation doesn't affect the result)

True
False
True
False
False
True

In [ ]:
#join method
separator = ", "
words = ["apple", "banana", "cherry"]

result = separator.join(words)
print(result)  # Output: "apple, banana, cherry"

apple, banana, cherry

In [ ]:

#join method
p=""
w=["Hello"]
result=p.join(w)
print(result)

Hello

In [ ]:
#lower method
p="HELLO WORLD"
print(p.lower())

hello world

In [ ]:
#upper method
p="hello world"
print(p.upper())

HELLO WORLD

In [ ]:
#lstrip()
p="#####Stranger things"
print(p.lstrip('#'))

Stranger things

In [ ]:
#replace()
p="This is demo.This is another demo"
print(p.replace("demo","text",2))

p="This is our example"
print(p.replace("example","pujitha"))

This is text.This is another text
This is our pujitha

In [ ]:
#rfind()
p="This is demo.This is another demo"
print(p.rfind("demo"))

p="This is demo.This is another demo.yet another demo"
print(p.rfind("demo"))

29
46

In [ ]:
#rindexmethod
p="This is test .This is another test"
print(p.index("another"))

22

In [ ]:
#rjust method
p="American vandal"
print(p.rjust(25,"$"))

$$$$$$$$$$American vandal

In [ ]:
#rsplit method
p="pujitha  ,krishna ,Lakshmi , Trishani"
print(p.rsplit(",",2))

['pujitha  ,krishna ', 'Lakshmi ', ' Trishani']

In [ ]:
#rstrip method
p="STRANGER THINGS #####"
print(p.rstrip('#'))

STRANGER THINGS

In [ ]:
#split method
p="one##two##three##"
print(p.split("##",2))

['one', 'two', 'three##']

In [ ]:
#splitline method
p="one\n two\n three\n four"
print(p.splitline('true'))

AttributeError: 'str' object has no attribute 'splitline'

In [ ]:
#startswith
p="This is demo.This is another demo"
print(p.startswith("other",15,20))

False

In [ ]:
#swapcase()
p="This is demo.This is another demo"
print(p.swapcase())

tHIS IS DEMO.tHIS IS ANOTHER DEMO

In [ ]:
#zfill() z means zero
p="wow!"
print(p.zfill(7))

000wow!

In [ ]:
#title()
p="my name is pujitha"
print(p.title())

My Name Is Pujitha

In [ ]:
#strip ()
p="######10.50"
print(p.strip('#'))

10.50

In [ ]:
#encode()
p="Hello, world!"
print(p.encode('utf-8 '))

b'Hello, world!'

In [ ]:

#format()
name = "John"
age = 30
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is John and I am 30 years old.

In [ ]:
#translate ()
original_string = "Hello, World!"
translation_table = str.maketrans("HW", "hw")
translated_string = original_string.translate(translation_table)
print(translated_string)

hello, world!

In [ ]:
#anagram
p="listen"
q="silent"
is_anagram=sorted_p==sorted_q
if is_anagram:
   print("The words are anagrams")
else:
   print("The words are not anagrams")

The words are anagrams

In [ ]:
p=input("Enter a string:"). lower()

if p==p[::-1]:
   print("string is palindrome")
else:
   print("string is not palindrome")

Enter a string:MAM
string is palindrome

In [ ]:
length=5
breadth=6
area=length*breadth
print("Area of rectangle:",area)

Area of rectangle: 30

In [ ]:
base=int(input ("Enter the numbers:"))
height=int(input("enter the number:"))
area=1/2*height*base
print("Area of triangle:",area)

Enter the numbers:12
enter the number:4
Area of triangle: 24.0

In [ ]:
r=int(input("Enter the numbers:"))
area=3.14*r*r
print("Area of circle:",area)

Enter the numbers:6
Area of circle: 113.03999999999999

In [ ]:

n=int(input("Enter a number:"))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

Enter a number:7
5040

In [ ]:
def factorial(n):
    if n==0 or n==1:
       return 1
    else:
       return n*factorial(n-1)
factorial(6)

720

In [ ]:
def palindrome(p):
    if p==p[::-1]:
       return"string is palindrome"
    else:
       return"string is not palindrome"
p='mam'
palindrome (p)

'string is palindrome'

In [ ]:
def anagram(p,q):
    if (sorted(p)==sorted(q)):
       print("These are anagram")
    else:
       print("These are not anagram")

p="listen"
q="silent"
anagram(p,q)

These are anagram

In [ ]:
def circle (r):
    area =3.14*r**2
    return(area)
circle(2)

12.56

In [ ]:

p=10
a = int(input("Tell me how many you need: "))
i = 1
while i <= a:

      if i> p:
         break;
         print("I have enough.")
      i += 1
if a<=p:
         print("yes I have")

Tell me how many you need: 4
yes I have

In [ ]:
n=int(input("Enter the number:"))
for i in range(n):
    if i%6==0 or i%5==0:
       continue
    print(i)

Enter the number:20
1
2
3
4
7
8
9
11
13
14
16
17
19

In [ ]:
n=int(input("Enter the number:"))
i=1
for i in range(n):
    if i%8==0:
       pass
    print(i)

Enter the number:10
0
1
2
3
4
5
6
7
8
9

In [ ]:
a=10
n=int(input("Enter the number:"))
if a>n:
   pass
   print("pujitha")
if a<n:
   print("krishna")

Enter the number:15
krishna

In [ ]:
n = float(input("Enter a square number: "))
Sqr = n**(1/2)
print("Square root of the given number:", Sqr)

Enter a square number: 64
Square root of the given number: 8.0

In [ ]:
base = float(input("Enter a base of triangle:"))

height = float(input("Enter a height of triangle:"))
area = 1/2*base*height
print("Area of a triangle:", area)

Enter a base of triangle:4.5
Enter a height of triangle:6.9
Area of a triangle: 15.525

In [ ]:
x = float(input("Enter a number 1 : "))
y = float(input("Enter a number 2 ;"))
temp = x
print("The value of temp is : ",temp)
x = y
print("The value of x is : ",x)
print("The value of y is : ",y)

Enter a number 1 : 8
Enter a number 2 ;9
The value of temp is :  8.0
The value of x is :  9.0
The value of y is :  9.0

In [ ]:
km = float(input("Enter number of kilometres:"))
miles = km*0.621371
print("km in miles is:",miles)

Enter number of kilometres:5
km in miles is: 3.106855

In [ ]:
n = int(input("Enter a number: "))
if n >0:
   print("positive")
elif n<0:
   print("negative")
else:
   print("zero")

Enter a number: 7
positive

In [ ]:
a = int(input("Enter a number:" ))
b = int(input("Enter a number:" ))
c = int(input("Enter a number: "))
if a>b and a>c:
    print("a is greater")
elif b>c:
    print("b is greater")
elif c>a:
    print("c is greater")

Enter a number:5
Enter a number:3
Enter a number: 2
a is greater

In [ ]:
def check_its_leap_year(year):
    if year % 400 == 0:
       print(year,"is a leap year : ")
    elif year % 4 == 0 and year%100!=0:
        print(year,"is a leap year:")
    else:
        print(year,"is not a leap year")
year = int(input("Enter a year :"))
check_its_leap_year(year)

Enter a year :2023
2023 is not a leap year

In [ ]:
def prime_numbers(n):
    for i in range(2, n):  # Start from 2, as 1 is not a prime number
        is_prime = True
        for j in range(2, int(i**0.5) + 1):  # Check divisors up to the square root of `i`
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            print(i)

n = int(input("Enter a number: "))
prime_numbers(n)

Enter a number: 10
2
3
5
7

In [ ]:
# Generate a Random number
import random

# Generate a random number between a specified range
lower = int(input("Enter the lower limit: "))
upper = int(input("Enter the upper limit: "))

# Generate random number
random_number = random.randint(lower, upper)
print(f"Random number between {lower} and {upper}: {random_number}")

Enter the lower limit: 1
Enter the upper limit: 100
Random number between 1 and 100: 9

In [ ]:
n=int(input("Enter a number: "))
count=0
for i in range (1,n+1):
    if n%i==0:
      count=count+1

if count==2:
   print(n,"is a prime number")
else:
   print(n,"is not a prime number")

Enter a number: 6
6 is not a prime number

In [ ]:
def operation(x):
    count=0
    for i in range(1,x+1):
        if x%i==0:
           count=count+1
    if count==2:
        return"it is a prime number"
    else:
       return"it is a not a prime number"
x=int(input("Enter a number:"))
operation(x)

Enter a number:9

'it is a not a prime number'

In [ ]:
import random
def random_number(x,y):
   R= random.randint(x,y)
   return f"The random number between {x} and {y} is:{R}"
x=int(input("Enter a number:"))
y=int(input("Enter a number:"))
print(random_number(x,y))

Enter a number:1
Enter a number:100
The random number between 1 and 100 is:87

In [ ]:
lower= int(input("Enter a number:"))
upper= int(input("Enter a number:"))
for num in range (lower,upper+1):
    if num>1:
       for i in range(2,upper+1):
           if num%i==0:
              break
       else:
          print(num)

Enter a number:2
Enter a number:25

In [ ]:
def prime_numbers_in_range(start, end):
    primes = []
    for num in range(start, end + 1):  # Include `end` in the range
        if num > 1:  # Prime numbers are greater than 1
            for i in range(2, int(num ** 0.5) + 1):  # Check divisors up to the square root of the number
                if num % i == 0:
                    break
            else:  # Executes if the loop doesn't encounter a `break`
                primes.append(num)
    return primes

# Input from the user
end = int(input("Enter the end of the range: "))
start = int(input("Enter the start of the range: "))
print("Prime numbers:", prime_numbers_in_range(start, end))

Enter the end of the range: 20
Enter the start of the range: 10
Prime numbers: [11, 13, 17, 19]

In [ ]:
C = int(input("Enter the temperature in celsius:"))
Fahrenheit = (C*(9/5))+32
print("The temperature is converted to Fahrenheit:", Fahrenheit)

Enter the temperature in celsius:12
The temperature is converted to Fahrenheit: 53.6

In [ ]:
def factorial_number(num):
    fact = 1
    if num < 0:
        return "Factorial of negative numbers doesn't exist."
    elif num == 0:
        return 1  # Factorial of 0 is 1
    else:
        for i in range(1, num + 1):
            fact *= i  # Multiply `fact` by the current number
        return fact  # Return the factorial

# Input from the user
num = int(input("Enter the number: "))

print("The factorial of the number:",factorial_number(num))

Enter the number: 6
The factorial of the number: 720

In [ ]:
def fact(a):
    if a==0:
        return 1
    elif a<1:
         return "doesn't exist"
    else:
         return((a)*fact(a-1))
a = int(input("Enter the number:"))
print("The factorial of a number:",fact(a))

Enter the number:-5
The factorial of a number: doesn't exist

In [ ]:
def table(n):
    for i in range(1,n+1):
        print( n,"*",i,"=",n*i)
n= int(input("Enter the number:"))
table(n)

Enter the number:13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130
13 * 11 = 143
13 * 12 = 156
13 * 13 = 169

In [ ]:

num = int(input("Enter the number:"))

sum = 0
temp = num
while temp>0:
      digit = temp%10
      sum+= digit**3
      temp //=10
if num == sum:
    print(num,"Armstrong number")
else:

    print(num,"not Armstrong number")

Enter the number:2003
2003 not Armstrong number

In [ ]:
def armstrong_number(num):
     sum = 0
     temp = num
     while temp>0:
          digit = temp%10
          sum+= digit**3
          temp //=10
     if num==sum:
         return"Armstrong number"
     else:
         return"Not Armstrong number"
num = int(input("Enter the number:"))
print(armstrong_number(num))

Enter the number:406
Not Armstrong number

In [ ]:
def natural_numbers(n):

    sum=0
    for i in range (1,n+1):
         sum+=i
    return sum

n= int(input("Enter the number:"))
print("sum=",natural_numbers(n))

Enter the number:10
sum= 55

In [ ]:
n = int(input("enter the number:"))
for i in range(1,n+1):
    print(i**2)

enter the number:10
1
4
9
16
25
36
49
64
81
100

In [ ]:
 #Divisible numbers of another number
for i in range(1,10):
    if i%3 ==0:
       print(i)

3
6
9

In [ ]:
n = [1,2,3,4,5,6,7,8,9,10,13]
result = list(filter(lambda x:x%3 == 0,n))
print(result)

[3, 6, 9]

In [ ]:
#python program to find ASCII value
a = "a"
print("ASCII value is :",ord(a))

ASCII value is : 97

In [ ]:
#print all ASCII values
for i in range(33,126):
    print(i,"=",chr(i))

33 = !
34 = "
35 = #
36 = $
37 = %
38 = &
39 = '
40 = (
41 = )
42 = *
43 = +
44 = ,
45 = -
46 = .
47 = /
48 = 0
49 = 1
50 = 2
51 = 3
52 = 4
53 = 5
54 = 6
55 = 7
56 = 8
57 = 9
58 = :
59 = ;
60 = <
61 = =
62 = >
63 = ?
64 = @
65 = A
66 = B
67 = C
68 = D
69 = E
70 = F
71 = G
72 = H
73 = I
74 = J
75 = K
76 = L
77 = M
78 = N
79 = O
80 = P
81 = Q
82 = R
83 = S
84 = T
85 = U
86 = V
87 = W
88 = X
89 = Y
90 = Z
91 = [
92 = \
93 = ]
94 = ^
95 = _
96 = `
97 = a
98 = b
99 = c
100 = d
101 = e
102 = f
103 = g
104 = h
105 = i
106 = j
107 = k
108 = l
109 = m
110 = n
111 = o
112 = p
113 = q
114 = r
115 = s
116 = t
117 = u
118 = v
119 = w
120 = x
121 = y
122 = z
123 = {
124 = |
125 = }

In [ ]:
#to find factors of a number
num = int(input("Enter the number : "))
for i in range(1,num+1):
    if num%i==0:
       print(i)

Enter the number : 12
1
2
3
4
6
12

In [ ]:
def highest_number(x, y):
    smaller = 0
    if x > y:
        smaller = y
    else:
        smaller = x
    hcf = 0
    for i in range(1, smaller + 1):
        if (x % i == 0) and (y % i == 0):
            hcf = i
    return hcf

x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
print("The HCF of 2 numbers {} and {} is {}".format(x,y, highest_number(x,y)))

Enter the first number: 12
Enter the second number: 14
The HCF of 2 numbers 12 and 14 is 2

In [ ]:

n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

# Determine the larger of the two numbers
if n1 > n2:
    greater = n1
else:
    greater = n2

while True:
    if greater % n1 == 0 and greater % n2 == 0:
        lcm = greater
        break
    greater += 1

print(f"The LCM of {n1} and {n2} is {lcm}")

Enter the first number: 12
Enter the second number: 14
The LCM of 12 and 14 is 84

In [ ]:
#square pattern
n=int(input("Enter the number:"))
for i in range (n):
    for j in range(n):
        print("*",end=" ")
    print()

Enter the number:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
num = [2,4,5,8,7,10]
for i in range(num):

In [ ]:
n = input("Enter the string:")
reverse_str = int(str(n)[::-1])
print(reverse_str)

Enter the string:123
321

In [ ]:
numbers = [12, 3, 45, 7, 2, 10]
print(f"The smallest number in the list is: {min(numbers)}")

The smallest number in the list is: 2

In [ ]:
def Fibonacci(n):
    a, b = 0, 1
    series = []
    for i in range(n):
        series.append(a)
        a, b = b, a + b
    return series

# Example usage
n = 10  # Number of terms
print(Fibonacci(n))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
l = [2,3,5]
print("The sum of numbers:",sum(l))

The sum of numbers: 10